{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "solid"],
    "extends": ["eslint:recommended", "plugin:solid/typescript"],
    "rules": {
        "@typescript-eslint/consistent-type-imports": "warn"
    }
}
